html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
}

/* LINKS */
a:hover{
    cursor: pointer;
}
a:visited{
    color:white;
}
.link{
    color:#888;
}
.link:hover{
    color:white;
}
.link:visited{
    color:#888;
}
.been{
    color:white;
}
.been:hover{
    color:white;
}
.been:visited{
    color:white;
}
/* IMG */
img{
    width:100%;
}
/* NAVIGATION */
.nav{
    position: fixed;
    width:100%;
    height:auto;
    background-color:black;
    top:0;
    left:0;
    padding:1em;
    z-index:5;
    border-bottom: 2px solid white;
}
.navtitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:500;
    color:white;
    margin-right:1em;
}
/* TYPE */
h1{
    font-family: 'Gothic A1', sans-serif;
    font-size: 3.6em;
    text-transform:uppercase;
    font-weight: 800;
    line-height: 1.2em;
    top:0;
    margin-top:0em;
    padding-top:0;
    color:white;
    animation: colchange 7.2s infinite;
    font-weight:700;
}
@keyframes colchange{
    0%{
        color: #f2389a;
    }
    33%{
        color: #f4f431;
    }
    66%{
       color:#2995ed;
    }
    100%{
        color: #f2389a;
    }
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    line-height: 1.8em;
    top:0;
    margin:0;
    padding:0;
    color:white;
}
h3{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.8em;
    line-height: 1.8em;
    font-weight:900;
    padding:0;
    margin:0;
    color:white;
}
h4{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:600;
    padding:0;
    margin:0;
    color:white;
}
p{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:300;
    padding:0;
    margin:0;
    hyphens:auto;
    text-align:left;
    color:white;
    -ms-hyphenate-limit-chars: 8 4 4;
    -webkit-hyphenate-limit-before: 4; 
    -webkit-hyphenate-limit-after: 4;
}