
/* BLOCK DESIGN */
.content{
    width:90%;
    display:grid;
    grid-template-columns:1fr 1fr ;
    margin:auto;
    grid-gap: 1.2em;
}
.block{
    display:inline-block;
    width:100%;
    height:45vw;
}

.scroll{
    overflow:scroll;
}

.imgbox{
    border: 1px solid white;
    width: 100%;
    height:100%;
    margin:0;
}
#imgone{
    background: url("essay/sketch-02.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgtwo{
    background: url("essay/sketch-06.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgthree{
    background: url("essay/sketch-07.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgfour{
    background: url("essay/sketch-08.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* TYPOGRAPHY DESIGN */

.title{
    top:0;
    margin:auto;
    color:white;
    width:90%;
}

.indent{
    padding: 0em 2em 0em 2em;
}
