
/* BLOCK DESIGN */
.content{
    width:90%;
    display:grid;
    grid-template-columns:1fr 1fr ;
    margin:auto;
}
.block{
    display:inline-block;
    width:100%;
    height:45vw;
    border: 2px solid white;
}
.text{
    padding:2em;
    overflow:scroll;
}
.scroll{
    overflow:scroll;
}

.imgbox{
    width: 100%;
    height:100%;
    margin:0;
}
#imgone{
    background: url("sketch-02.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgtwo{
    background: url("sketch-06.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgthree{
    background: url("sketch-08.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* TYPOGRAPHY DESIGN */

.title{
    top:0;
    margin:auto;
    color:white;
    width:90%;
}

.indent{
    padding: 0em 2em 0em 2em;
}


/* SCROLLBAR DESIGN */
::-webkit-scrollbar{
    width:1em;
    height:1em;
    bottom:0;
    display:none;
}

::-webkit-scrollbar-track{
    background: black;
    width:2em;
}

::-webkit-scrollbar-thumb{
    background: #dddddd;
    border-radius: .5em;
    border: 4px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background: #444444;
}
