body{
    background-color:black;
    height:100%;
}
img{
    width:100%;
}
/* NAVIGATION DESIGN */

.nav{
    position: fixed;
    width:100%;
    height:auto;
    background-color:black;
    top:0;
    left:0;
    padding:1em;
    z-index:2;
    border-bottom: 2px solid white;
}
.navtitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:500;
    color:white;
    margin-right:1em;
}
a{
    color:white;
}
a:hover{
    cursor: pointer;
}
a:visited{
    color:white;
}
.link:hover{
    color:#888;
}

@keyframes colchange{
    0%{
        background-color: #f2389a;
    }
    33%{
        background-color: #f4f431;
    }
    66%{
        background-color:#2995ed;
    }
    100%{
        background-color: #f2389a;
    }
}

/* BLOCK DESIGN */
.content{
    width:90%;
    display:grid;
    grid-template-columns:1fr 1fr ;
    margin:auto;
}
.block{
    display:inline-block;
    width:100%;
    height:45vw;
    border: 2px solid white;
}
.text{
    padding:2em;
    overflow:scroll;
}
.scroll{
    overflow:scroll;
}

.imgbox{
    width: 100%;
    height:100%;
    margin:0;
}
#imgone{
    background: url("sketch-02.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgtwo{
    background: url("sketch-06.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgthree{
    background: url("sketch-08.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* TYPOGRAPHY DESIGN */

.title{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 3.6em;
    text-transform:uppercase;
    line-height: 1.2em;
    top:0;
    margin:auto;
    color:white;
    animation: colchange 7.2s infinite;
    width:90%;
}

@keyframes colchange{
    0%{
        color: #f2389a;
    }
    33%{
        color: #f4f431;
    }
    66%{
       color:#2995ed;
    }
    100%{
        color: #f2389a;
    }
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:0em;
    padding-top:0;
    color:white;
}

h2{
    font-family: 'Gothic A1', sans-serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin:0 ;
    padding:0;
    color:white;
}

p{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:400;
    padding:0;
    margin:0;
    hyphens:auto;
    text-align:left;
    color:white;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:700;
    padding:0;
    margin:0;
}

.indent{
    padding: 0em 2em 0em 2em;
}


/* SCROLLBAR DESIGN */
::-webkit-scrollbar{
    width:1em;
    height:1em;
    bottom:0;
    display:none;
}

::-webkit-scrollbar-track{
    background: black;
    width:2em;
}

::-webkit-scrollbar-thumb{
    background: #dddddd;
    border-radius: .5em;
    border: 4px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background: #444444;
}
