body{
    background: #cccccc;
}
h1{
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    src: url(font/NotoSansKR-Medium.otf);
}
p{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    src: url(font/NotoSansKR-Regular.otf);
}
img{
    width:100%;
}
.grid{
    display:grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 10px;
    width: 90%;
    margin: 20px auto 20px auto;
}
.container{
    width:100%;
}