body{
    background: #000000;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:0em;
    padding-top:0;
    color:white;
}

h2{
    font-family: 'Gothic A1', sans-serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin:0 ;
    padding:0;
    color:white;
}

p{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:400;
    padding:0;
    margin:0;
    hyphens:auto;
    text-align:left;
    color:white;
}

a{
    color:white;
}
a:hover{
    cursor: pointer;
}
a:visited{
    color:white;
}

.link:hover{
    color:#888;
}

img{
    width:100%;
}

/* Classes */

.nav{
    position: fixed;
    width:100%;
    height:auto;
    background-color:black;
    top:0;
    left:0;
    padding:1em;
    z-index:2;
}
.navtitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:500;
    color:white;
    margin-right:1em;
}


.grid{
    display:grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
    grid-gap: 10px;
    width: 90%;
    margin: 20px auto 20px auto;
}
.container{
    width:100%;
}
.title{
    width: 90%;
    text-transform:uppercase;

    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:400;
    padding:0;
    margin:20px auto 20px auto;
    hyphens:auto;
    text-align:left;
    color:white;
}
#bigtitle{
    width:100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
#exp{
    width:100%;
    grid-column-start: 3;
    grid-column-end: 5;
}