html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
}
img{
    width:100%;
}
a{
    color:white;
}
a:hover{
    cursor: pointer;
}
a:visited{
    color:white;
}

.link:hover{
    color:#888;
}
.nav{
    position: fixed;
    width:100%;
    height:auto;
    background-color:black;
    top:0;
    left:0;
    padding:1em;
    z-index:2;
}
.navtitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:500;
    color:white;
    margin-right:1em;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:90vw;
    margin:auto;
}

.title{
    display:inline-block;
    width: 90vw;
    margin-left:5%;
    margin-right:5%;
}

.box{
    display:inline-grid;
    width: 11.25vw;
    height: 11.25vw;
    border: 2px solid white;
}
.textbox{
    overflow-y:scroll;
}

/* FONT */

h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:0em;
    padding-top:0;
    color:white;
}

h2{
    font-family: 'Gothic A1', sans-serif;
    font-size: 2.4em;
    line-height: 1.8em;
    top:0;
    margin:0;
    padding:0;
    color:white;
}

h3{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:700;
    padding:0;
    margin:0;
    color:white;
}
h4{
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    font-style: italic;
    top:0;
    margin-top:0em;
    padding-top:0;
    color:white;
}
p{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight:400;
    padding:0;
    margin:0;
    hyphens:auto;
    text-align:left;
    color:white;
}
.flex{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 12em;
    font-weight:400;
    text-align:center;
    color:white;
}

::-webkit-scrollbar{
    width:.5em;
    height:1em;
}

::-webkit-scrollbar-track{
    background: black;
    width:1em;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: .5em;
    border: 2px solid #dddddd;
}

::-webkit-scrollbar-thumb:hover{
    background: #444444;
}