.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:90%;
    margin:auto;
}

.title{
    display:inline-block;
    width: 90%;
    margin: 0 5% 0 5%;
}

.box{
    display:inline-grid;
    width: 100%;
    height:22.5vw;
    border: 2px solid white;
}

.textbox{
    padding:2em;
    overflow:scroll;
}

.abox{
    padding: 22% 1em 22% 1.4em;
    overflow:hidden;
    font-family: 'Gothic A1', sans-serif;
    font-size: 3vw;
    font-weight:400;
    text-align:center;
    color:white;
}
.bbox{
    padding: 30% 1em 22% 1.4em;
    overflow:hidden;
    font-family: 'Gothic A1', sans-serif;
    font-size: 3vw;
    font-weight:400;
    text-align:center;
    color:white;
}

.flex{
    padding:2em;
    padding: 36% 1em 22% 1em;
    font-family: 'Gothic A1', sans-serif;
    font-size: 7.2vw;
    font-weight:400;
    text-align:center;
    color:white;
    overflow:hidden;
}

.cbox{
    padding:2em;
    padding: 38% 1em 22% 1em;
    font-family: 'Gothic A1', sans-serif;
    font-size: 5.4vw;
    font-weight:400;
    text-align:center;
    color:white;
    overflow:hidden;
}
.sentence{
    padding:2em;
    padding: 23% 1em 22% 1em;
    font-family: 'Gothic A1', sans-serif;
    font-size: 2.2vw;
    line-height: 1.2em;
    font-weight:400;
    text-align:center;
    color:white;
    overflow:hidden;
}

/* FONT */

::-webkit-scrollbar{
    display:none;
}

.box::-webkit-scrollbar{
    display:none;
}

.textbox::-webkit-scrollbar{
    display:none;
}

/* KOREAN ALPHABET */

.horizontal{
    width: 95%;
    display:inline-block;
    margin: auto 0 auto 5%;
    right:0;
    overflow-y: hidden;
    overflow-x: scroll;
}

.scroll-grid{
    width:auto;
    display:grid;
    grid-template-columns: repeat(4,auto);
}

.letter-box{
    display:grid;
    width: 22.5vw;
    height: 22.5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    border: 1px solid white;
}

.con{
    display:inline-block;
    overflow: hidden;
    position:relative;
    font-family: 'Gothic A1', sans-serif;
    font-size: 2em;
    line-height: 2.6em;
    font-weight:800;
    width:100%;
    color:#ee3d96;
    border-bottom: 1px dotted white;
}

.vowel{
    display:inline-block;
    overflow: hidden;
    position:relative;
    font-family: 'Gothic A1', sans-serif;
    font-size: 2em;
    line-height: 2.6em;
    font-weight:800;
    width:100%;
    color:#4990cd;
    border-bottom: 1px dotted white;
}
.pronounce{
    display:inline-block;
    font-family: 'Gothic A1', sans-serif;
    overflow: hidden;
    font-size: 1.8em;
    line-height: 2.6em;
    font-weight:800;
    width:100%;
    color:white;
    border-bottom: 1px dotted white;
}

.inside{
    padding-left: .8em;
}


@media only screen and (min-width: 501px) and (max-width:960px){
    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        width:90%;
        margin:auto;
    }
    .box{
        display:inline-grid;
        width: 100%;
        height:45vw;
        border: 2px solid white;
    }
    .abox{
        padding: 22% 1.2em 22% 1.2em;
        font-size: 6vw;
        font-weight:400;
    }
    .bbox{
        padding: 30% 1.2em 22% 1.2em;
        font-size: 6vw;
        font-weight:400;
    }
    .cbox{
        padding: 42% 1em 22% 1.1em;
        font-size: 9.6vw;
        font-weight:400;
    }
    .flex{
        padding:2em;
        padding: 36% 1em 22% 1em;
        font-size: 12vw;
    }
}

@media only screen and (max-width: 500px){
    .grid{
        display:grid;
        grid-template-columns: 1fr;
        width:90%;
        margin:auto;
    }
    .box{
        display:inline-grid;
        width: 100%;
        height:90vw;
        border: 2px solid white;
    }
    .abox{
        padding: 22% 1.2em 22% 1.2em;
        font-size: 12vw;
    }
    .bbox{
        padding: 30% 1.2em 22% 1.2em;
        font-size: 12vw;
    }
    .cbox{
        padding:2em;
        padding: 42% 1em 22% 1.1em;
        font-size: 18vw;
        font-weight:400;
    }
    .flex{
        padding:2em;
        padding: 36% 1em 22% 1em;
        font-size: 24vw;
    }
}
