.box{
    border: 1px solid #444;
}

.captionbox{
    padding: 0 1.2em 0 1.2em;
    overflow: auto;
}

h5{
    font-weight:600;
    color: #eee;
}

h6{
    font-weight:400;
    color: #999;
}

h5, h6{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1em;
    top:0;
    bottom:0;
    margin:0;
}



@media only screen and (min-width: 541px){    
    .koreangrid{
        min-width:80vh;
        height:80vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        z-index: 5;
        box-sizing: border-box;
        grid-gap:.4em;
    }

    .sentenceimg{
        width:80vh;
    }

    .koreantitle{
        width: 48vh; 
        height:100vh; 
        border-left: 1px dashed #444;
        box-sizing: border-box;
        position:relative;
        white-space:normal;
        overflow-y:hidden;
        padding: 4.8em 1.2em 1.2em 1.2em;
    }

    .koreansquare{
        padding: 10vh 1.2em 1vh 1.2em;
        width: auto;
        display:inline-block;
        background-color:black;
    }

    .koreantitle,.koreansquare{
        box-sizing: border-box;
        display:inline-block;
        background-color:black;
    }

    .box, .captionbox{
        width: 100%;
        background-color:black;
        box-sizing:border-box;
    }
}

@media only screen and (max-width: 540px){
    .koreansquare{
        width: 100vw;
        background-color:black;
    }

    .koreangrid{
        width:100%;
        display:grid;
        grid-template-columns: 1fr;
        z-index: 5;
        box-sizing: border-box;
        padding: 0;
        margin:0;
    }

    .koreantitle{
        width: 100vw;
        height:21vw;
        padding: 0;
        border-left: 1px dashed #444;
        position:relative;
        white-space:normal;
        overflow-y:hidden;
        padding:1.2em;
        background-color:black;
    }

    .title{
        width:84vw;
        margin:auto;
    }

    .koreantitle,.koreansquare{
        box-sizing: border-box;
        display:inline-block;
        background-color:black;
    }
    
    .box{
        width: 84vw;
        height: 84vw;
        margin: 1.2em auto 0 auto;
    }

    .captionbox{
        width: 84vw;
        margin: 1.2em auto 0 auto;
    }

}