html{
    background-color:black;
    scroll-behavior: smooth;
}

h1{
    color:white;
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}
h2{
    color:white;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    text-decoration:underline;
}   
img{
    width:100%;
}

/* Link Settings */
a:hover{
    cursor: pointer;
}
a:visited{
    color:white;
}
.link{
    color:#888;
}
.link:hover{
    color:white;
}
.link:visited{
    color:#888;
}

.been{
    color:white;
}
.been:hover{
    color:white;
}
.been:visited{
    color:white;
}

/* 
Classes */
.internal{
    text-decoration:none;  
}
.internal:hover{
    color:#888;
}   
.nav{
    position: fixed;
    width:100%;
    height:auto;
    background-color:black;
    top:0;
    left:0;
    padding:1em;
    z-index:2;
}
.navtitle{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:500;
    color:white;
    margin-right:1em;
}

.navtwo{
    left:0;
    width:24%;
    position: fixed;
    padding:0 2em 0 2em;
    top:0;
}
.content{
    right:0;
    width:72%;
    float: right;
    padding:0 2em 0 2em;
    top:0;
    margin-left:24%;
}

.twogrid{
    display:grid;
    width:100%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-gap:.5em;
}
.threegrid{
    display:grid;
    width:100%;
    margin:auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:.5em;
}
.container{
    display:block;
    width:100%;
    padding:0;
    margin:0;
}
