/* CLASS */
.sketch{
    width: auto;
    height:100%;
}
.navtwo{
    position:fixed;
    bottom:0;
    float: bottom;
    display:grid;
    width:100vw;
    background-color:black;
    z-index:2;
}
.horizontal{
    position: absolute;
    width:100vh;
    height: 100vw;
    left:0;
    top:0;
    transform: rotate(-90deg) translateY(-100vh);
    transform-origin: right top;
    z-index: 2;
    overflow-x:hidden;
    overflow-y:scroll; 
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style:none;
}

.outer-block{
    display: grid;
    position: fixed;
    grid-template-columns: repeat(100,auto);
    width:auto;
    height:100vh;
    left:0; right:0; top:0; bottom:0;
    margin:0vh;
    padding:0;
    transform: rotate(90deg) translateX(100vh);
    transform-origin: right top;
    z-index: 3;
}

/* BLOCK DESIGN */

.block{
    display: inline-block;
    width:auto;
    height:100vh;
    margin:0;
    top:0;bottom:0;
    padding:3.6em 0em 0em 0em;
    z-index:4;
    background-color:black;
    color:white;
}

.small-title{
    display: inline-block;
    width:24em;
    height:100vh;
    margin:2em;
    top:0;bottom:0;
    padding:3.6em 2em 0em 2em;
    z-index:4;
    background-color:black;
    color:white;
    border-left: 2px solid #333333;
}

.twogrid{
    display:grid;
    width:100%;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-gap:.5em;
}
.threegrid{
    display:grid;
    width:100%;
    margin:auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:.5em;
}

::-webkit-scrollbar {
    display: none;
}
