.titleblock{
    position:fixed;
    width: 100vw;
    height:100vh;
}

.titleimg{
    margin-top: 10vh;
    margin-bottom: 0vh;
    width: 96vh;
    height:100vh;
    left: 12em;
}

.gradient{
    width: 100vw;
    height:100vh;
    animation: colchange 7.2s infinite;
    z-index:1;
}

@keyframes colchange{
    0%{
        background-color: #f2389a;
    }
    33%{
        background-color: #f4f431;
    }
    66%{
        background-color:#2995ed;
    }
    100%{
        background-color: #f2389a;
    }
}

.horizontal{
    position: absolute;
    width:100vh;
    height: 100vw;
    left:0;
    top:0;
    transform: rotate(-90deg) translateY(-100vh);
    transform-origin: right top;
    z-index: 2;
    overflow-x:hidden;
    overflow-y:scroll; 
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style:none;
}

.outer-block{
    display: grid;
    position: fixed;
    grid-template-columns: repeat(100,auto);
    width:auto;
    height:100vh;
    left:0; right:0; top:0; bottom:0;
    margin:0vh;
    padding:0;
    transform: rotate(90deg) translateX(100vh);
    transform-origin: right top;
    z-index: 3;
}

/* BLOCK DESIGN */

.block{
    display: inline-block;
    width:auto;
    height:100vh;
    margin:0;
    top:0;bottom:0;
    padding:3.6em 0em 0em 0em;
    z-index:4;
    background-color:black;
    color:white;
}

.explain{
    width: 36vh;
    height: 100vh;
    border-left: 1px dotted white;
    padding: 3.6em 1.2em 0em 1.2em;
}

.timeblock{
    height: 100vh;
    width: auto;
    border-left: px dotted white;
    padding: 3.6em 1.2em 0em 1.2em;
}

.img{
    height: 72vh;
    width: 72vh;
    display: inline-block;
    margin: 10vh 2em auto 2em;
    overflow:hidden;
}

.text{
    height: 72vh;
    width: 72vh;
    overflow-wrap: break-word;
    overflow-y:scroll;
    margin: 10vh 2em auto 2em;
    display: inline-block;
}

.inside{
    margin: 0 2em 2em 2em;
}

.text::-webkit-scrollbar{
    width:.8em;
}

.text::-webkit-scrollbar-track{
    background: none;
    width:.8em;
}

.text::-webkit-scrollbar-thumb{
    background-color:#666;
    border-radius: .5em;
    width:1em;
    border:none;
}

.text::-webkit-scrollbar-thumb:hover{
    background: #888;
}


/* SCROLLBAR DESIGN */
/* ::-webkit-scrollbar{
    
} */
